body{
  background-color: honeydew;
}
.App{
  text-align: center;
  background-image: linear-gradient(lightseagreen,pink);
  padding: 20px;
  margin: 20px 300px 30px 300px;
}
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
button{
  border-radius: 20px;
  background-color: rgb(73, 124, 23);
  border: none;
  margin-top: 10px;
  padding: 5px;
  background-image: radial-gradient(lightseagreen,pink);
  border-color: white;
}
.bi-google{
  margin-left: 3px;
  margin-bottom: 1.5px;
  text-align: center;
  color: black;
  border-color: none;
}
.bi-headphones{
  margin-bottom: 10px;
}
.btn-primary{
  color: black;
  border-color: pink;
}
.btn-primary:hover{
  border-color: pink
}